{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/react"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "import/extensions": 0,
    "react/prop-types": 0,
    "react/function-component-definition": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".mdx"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}