{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}